.coin-item{
   position: relative;
   padding: 40px 30px 60px 30px;
   border-radius: 10px;
   width: 100px;
   margin: 15px;
   width: 17%;
   min-width: 200px;
   box-sizing: border-box;
   background-color: #161B22;
}
.coin-item__img{
   max-width: 50px;
   margin: 0 auto;
}
.coin-item__img img{
   width: 100%;
   filter: grayscale(0.6);
}
.coin-item__name-and-price{
   font-weight: bold;
   font-size: 17px;
   letter-spacing: 0.7px;
   color: rgba(255, 255, 255, 0.7);
   margin: 10px 0 20px 0;
   padding-bottom: 10px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.coin-item__amount{
   font-size: 15px;
   color: rgba(255, 255, 255, 0.7);
}
.coinitem__in-cash{
   font-size: 19px;
   font-weight: bold;
   color: rgba(255, 255, 255, 0.7);
   margin: 20px 0 10px 0;
}
.coin-item__remove,
.coin-item__edit{
   position: absolute;
   bottom: 30px;
   cursor: pointer;
   text-transform: uppercase;
   font-size: 9px;
   letter-spacing: 1px;
   font-weight: bold;
   color: rgba(255, 255, 255, 0.7);
}
.coin-item__edit{
   right: 30px;
}