.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.wrapper{
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
}

.coin-full-sum{
   font-size: 42px;
   font-weight: bold;
   color: rgba(0,0,0,0.7);
   margin-bottom: 30px;
}
.coin-full-sum span{
   font-size: 21px;
}

.coin-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.edit-form{
   position: relative;
   max-width: 600px;
   margin: 30px auto 100px auto;
   opacity: 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   visibility: hidden;
   transition: 0.3s;
}
.edit-form .addcoin-input{
   width: 47%;
   box-sizing: border-box;
}
.edit-form button{
   width: 47%;
   margin-top: 30px;
   box-sizing: border-box;
}
.error-message{
   position: absolute;
   bottom: -60px;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: bold;
   color: rgba(1,1,1,0.6);
   opacity: 0;
   visibility: hidden;
   transition: 0.3s;
}
.error-message--fade-in{
   opacity: 1;
   visibility: visible;
}